// Define variables for your color scheme

// For example:

$blue: rgb(105, 224, 255);
$orange: rgb(238, 129, 53);
$purple: rgb(118, 76, 196);
$yellow: rgb(255, 213, 39);


$red: rgb(220,0,0);
$green: rgb(0, 180, 0);


$gray: #0E0000;
$light-gray: #F4F4F4;
