<div class="card-profile p-1 mt-5">
  <%= image_tag 'https://thispersondoesnotexist.com/image', class: "avatar-bordered" %>
    <div class="card-profile-infos">
    <h2><%= @user.name %></h2>
    <p><strong>Rating <%= "4,5" %></strong></p>
    <p><%= @user.bio %></p>
  </div>
</div>
