<div>
  <%  @sellers.each do |seller| %>
  <p> <%= link_to seller.name, seller_path(seller) %> </p>
  <p><%= seller.lat %></p>
  <p><%= seller.long %></p>  
  <% end %>  
</div>
<% if current_user.orders.last.completed.nil? %>
  <%= link_to "Acompanhar meu pedido", buyer_order_path(current_user.orders.last) %>
<% end %>
