 <%= render 'shared/navbar' %>
  <div class="container">
    <% if @order.first.accepted == 1 %>
    <div class="card-pedido aguarde">
      <h4 class="text-center">Aguarde</h4>
    </div>
    <% elsif @order.first.accepted == 2 %>
    <div class="card-pedido aceito">
      <h4 class="text-center">Pedido aceito =)</h4>
    </div>
    <% else %>
    <div class="card-pedido negado">
      <h4 class="text-center">Pedido aceito =)</h4>
    </div>
    <% end %>
  </div>

<div id="map"
     style="width: 85%; margin: 25px auto; height: 30vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container buttons mt-3">
  <%= link_to "Deu certo?", new_buyer_order_review_path(@order.first), class:'btn general' %>
</div>
