 <%= render 'shared/navbar' %>

  <% if @order.accepted == 1 %>
  <div class="card-pedido aguarde">
    <h2 class="text-center">Aguarde</p>
  </div>
  <% elsif @order.accepted == 2 %>
  <div class="card-pedido aceito">
    <h2 class="text-center">Pedido aceito =)</p>
  </div>
  <% else %>
  <div class="card-pedido negado">
    <h2 class="text-center">Pedido aceito =)</p>
  </div>
  <% end %>
</div>

<div class="buttons mt-3">
  <%= link_to "Deu certo?", new_buyer_order_review_path(@order), class:'btn general' %>
</div>