<div>
  <% policy_scope(@orders).each do |order| %>
  <% if order.accepted == 1 %>
   <div>Aguarde</div>
  <% elsif order.accepted == 2 %>
  <div>Pedido aceito =)</div>
  <% else %>
  <div>Pedido negado =(</div>
  <% end %>
  <% end %>
</div>