.profile-card {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 5px rgba($purple, 0.8);
  padding: 10px;
  width: 100%;
  background-color: rgba($light-gray, 0.8);
  color: $purple;
  margin: 0 auto;
  justify-content: center;
  h2{
    font-size: 22px;
    font-weight: bold
  }
  h3{
    font-size: 18px;
    font-weight: bold
  }
  h4{
    font-size: 16px;
    font-weight: bold;
    color: $gray
  }
  h5{
    font-size: 14px;
    font-weight: bold;
  }
  p{
    font-size: 11px;
    font-weight: bold;
  }
  span{
    font-size: 13px;
    color: $gray
  }
  a{
    font-size: 11px;
    font-style: oblique;
    color: #6c757d
  }
}

  @media (max-width: 575.98px) {
    width: 100%;
    box-shadow: 0px 0px 30px $green;
  }

.profilepic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 0px;
  padding: 2px;
  box-shadow: 0 0 19px -2px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.inventory{
  background-color: rgba($light-gray, 0.8);
  color: $orange;
}


.width-height-full{
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 250px;
  object-fit: cover;
  border-radius: 15px;
}

.grid-left{
flex-direction: row;
}

.card-profile {
  overflow: hidden;
  height: 120px;
  background:$light-gray;
  box-shadow: 1px 1px 5px inset rgba(#ebe6e6, 0.8);
  display: flex;
  align-items: center;
}
.card-profile img {
  height: 70%;
  width: 75px;
  object-fit: cover;
  opacity: 0.8;
}

.card-profile p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.card-profile .card-profile-infos {
  padding: 16px;
  h1 {
    font-size: 25px;
    font-weight: bold;
  }
}

.inventory-pic {
  background-size: cover;
  object-fit: cover;
  background-position: right 0% bottom 68%;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.6) 50%), asset-url('ambulant_logo.png');
}

.inventory-pic2 {
  height: 80%;
  width: 500px;
  object-fit: cover;
  background-image: linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.6) 50%);
}

.carousel-height {
  height: 200px;
}

#editar-perfil span{
  font-weight: bold;
  font-style: oblique;
  font-size: 15px;
  color: #6c757d
}



