.logo-home{
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 10;
}

.display-none{
  display: none;
}

.menu{
  width: 50px;
  height: 60px;
  position: fixed;
  top: 12%;
  right: 8%;
  z-index: 10;
}
