.card-pedido {
  border-radius: 20px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: #EF985B;
  border-radius: 20px;
}

.card-pedido p {
  line-height: 50px;
}

.wrapper {
  height: 50vh;
  align-items: center;
}