 <%= render 'shared/navbar' %>
<div>
  <% @buyers.each do |buyer| %>
  <%= buyer.address %>
  <p>
    <%= buyer.name %>
  </p>
  <% end %>
</div>
<%= link_to "Meu perfil", seller_path(current_user) %>
