 <%= render 'shared/navbar' %>
<div id="seller-view" data-seller-id="<%= current_user.id %>">
  <% @buyers.each do |buyer| %>
  <%= buyer.address %>
  <p>
    <%= buyer.name %>
  </p>
  <% end %>
</div>
