 <%= render 'shared/new_navbar' %>
<div class="container">
  <div class="card-review aguarde">
    <% if @review.rating >= 4 %>
      <h2 class="text-center my-3">Que bom que você gostou!</h2>
    <% elsif @review.rating == 3%>
      <h2 class="text-center my-3">Da próxima vez iremos melhorar, ok?</h2>
    <% else %>
      <h2 class="text-center my-3">Pedimos desculpas, e prometemos melhorar!</h2>
    <% end %>
    <p></p>
    <h4 class="text-center mb-2"><%= @review.description %></h4>
    <h4 class="text-center mb-2">
      <% @review.rating.times do %>
        <i class="fas fa-star"></i>
      <% end %>
    </h4>
  </div>
  <div class="buttons">
    <%= link_to "Início", root_path, class: 'btn general mt-3' %>
  </div>
</div>
