 <%= render 'shared/navbar' %>
<div class="container">
  <div class="card-review aguarde">
    <h4 class="text-center my-3">Esperamos que tenha gostado da experiência!</h2>
    <h4 class="text-center mb-2"><%= @review.description %></h2>
    <h4 class="text-center mb-2">Nota: <%= @review.rating %></h2>
  </div>
  <div class="buttons">
    <%= link_to "Início", root_path, class: 'btn general mt-3' %>
  </div>
</div>
